<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Shadow{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('home') }}"><strong>Shadow</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav ml-auto">
                    <a class="nav-link" href="profil">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="connexion">connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="deconnexion">deconnexion</a>
                </li>
                </ul>
            </div>
        </nav>
        <div>
            <h1></h1>
        </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
