{% extends "base.html.twig" %}
 
{% form_theme formUser 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {{ form_start(formUser) }}
        <div class="row " style="margin-top:100px">
            <div class="col-md-8 border border-warning rounded p-5">
                <center><h1 class="mb-3 mt-3 mb-5">ABONNEZ VOUS !</h1></center>
                {{ form_row(formUser.name, {'attr': {'placeholder':"Nom"}}) }}
                {{ form_row(formUser.firstName, {'attr': {'placeholder':"Prénom"}}) }}
                {{ form_row(formUser.email, {'attr': {'placeholder':"Email"}}) }}
            </div>
            <div class="col-md-4">
                <center class="border border-dark rounded bg-primary p-5" style="color:white">
                    <h1 class="mt-3"><strong>{{ service.serviceName }}</strong></h1>
                    <h2 class="mt-4">{{ service.description }}</h2>
                    <p>{{ service.caracteristique }}</p>
                    <hr style="height: 1px; color: #839D2D; background-color: orange; width: 60%; border: none;">
                    <p>Abonnement annuel à partir de :<br>
                    <h1><strong>{{ service.price }} €</strong></h1><br><p>HT/mois (soit {{ service.HtTtc }} € TTC)*</p>
                </center>
            </div>
        </div>
        <div class="row mt-5 mb-2  ">
            <div class="col-md-9 ml-auto mr-auto">
                <center><h1 class="mb-5">CUSTOMISEZ !</h1></center>
                {{ form_row(formUser.cpu) }}
                {{ form_row(formUser.ram) }}
                {{ form_row(formUser.gb) }}
                <center><button type="submit" class="btn btn-warning btn-lg mt-3 mb-5">S'enregistrer</button></center>
            </div>
        </div>
    {{ form_end(formUser) }}
{% endblock %}