{% extends "base.html.twig" %}  

{% block body %}
<div style="margin-top:100px"></div>
    {% for service in services %}
        <div class="row">
            <div class="col-md-12 mb-5">
                <center class="border border-dark bg-primary p-4" style="color:white">
                    <h1 class="mt-3"><strong>{{ service.serviceName }}</strong></h1>
                    <h2 class="mt-4">{{ service.description }}</h2>
                    <p>{{ service.caracteristique }}</p>
                    <hr style="height: 1px; color: #839D2D; background-color: orange; width: 60%; border: none;">
                    <p>Abonnement annuel à partir de :<br>
                    <h1><strong>{{ service.price }} €</strong></h1><br><p>HT/mois (soit {{ service.HtTtc }} € TTC)*</p>
                    <a href="{{ path('service', {'id':service.id}) }}" class="btn btn-warning btn-lg mb-4">Sélectionner</a>
                </center>
            </div>
        </div>
    {% endfor %}
{% endblock %}