{% extends "base.html.twig" %}

{% block body %}
<center style="margin-top:100px" class="mb-5" ><h1>Connectez vous !</h1></center>
<div class="col-md-6 ml-auto mr-auto border border-warning rounded p-5">
    <form action="{{ path('connexion') }}" methode="post">
        <div class="form-group">
            <label>Adresse email</label>
            <input placeholder="Adresse email" requied name "_username" type="text" class ="form-control">
        </div>
        <div class="form-group">
            <label>Mot de passe</label>
            <input placeholder="Mot de passe" requied name "_password" type="password" class ="form-control">
        </div>
        <div class="form-group">
            <center><button type="submit" class="btn btn-warning btn-lg mt-3" >Connexion</button></center>
        </div>
    </form>
</div>    
{% endblock %}