{% extends "base.html.twig" %}

{% block body %}
<div style="margin-top:100px"></div>
    {% for service in services %}
    
        <div class="row" style="margin-top:50px">
            <div class="col-md-12 mb-5">
                <center class="border border-dark bg-primary" style="color:white">
                    <h1  class="mt-3"><strong>Basic</strong></h1>
                    <h2 class="mt-4">Performant et accessible</h2>
                    <p>2 vCore(s)<br>
                    À partir de 4 GB RAM<br>
                    60 Go SSD</p>
                    <hr style="height: 1px; color: #839D2D; background-color: white; width: 80%; border: none;">
                    <p>Abonnement annuel à partir de :<br>
                    <h1><strong>11,99 €</strong></h1><br><p>HT/mois (soit 14,39 € TTC)*</p>
                    <a href="{{ path('service') }}" class="btn btn-warning btn-lg mb-4">Sélectionner</a>
                </center>
            </div>
        </div>
    {% endfor %}
{% endblock %}