{% extends "base.html.twig" %}

{% form_theme formUser 'bootstrap_4_layout.html.twig' %}

{% block body %}

     <div class="row mr-auto ml-auto" style="margin-top:150px">
        <div class="col-md-5">
            {{ form_start(formUser) }}

                {{ form_row(formUser.name, {'attr': {'placeholder':"Nom"}}) }}

                {{ form_row(formUser.firstName, {'attr': {'placeholder':"Prénom"}}) }}

                {{ form_row(formUser.email, {'attr': {'placeholder':"Email"}}) }}

                <center><button type="submit" class="btn btn-warning btn-lg">Valider</button></center>

            {{ form_end(formUser) }}
        </div>
    </div>

{% endblock %}